<section id="experience">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Skill Set</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div *ngFor="let skillset of skills" class="details-container">
        <div>
          <h2 class="experience-sub-title">{{ skillset.category }}</h2>
          <div class="article-container">
            <article *ngFor="let skill of skillset.skills">
              <img
                src="./assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>{{ skill.name }}</h3>
                <p>{{ skill.level }}</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="./assets/arrow.png"
    alt="Arrow-icon"
    class="icon arrow"
    onclick="location.href='./#projects'"
  />
</section>
