<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="about-details-container">
      <div class="about-containers">
        <div class="text-container">
          <p>
            I am a passionate software engineering student at the Faculty of
            Science Tunis (FST) with a strong foundation in problem-solving and
            a keen interest in web development. In my first year, I achieved an
            excellent average. With a focus on software development, I have
            successfully completed several projects, including a web redesign,
            library management software, a full-stack web application for hotel
            management, a 2D platform game, a program for creating encrypted QR
            codes, and an AWS cloud solution for hosting 3-tier web apps. These
            experiences have equipped me with a diverse skill set in Java,
            JavaScript, Python, and C#, as well as experience with services like
            AWS and frameworks like Angular, React and Spring Boot. With a
            dedication to continuous growth, I actively participate in sports
            and programming-related online courses. I am driven to seek new
            challenges, expand my knowledge, and contribute to the field of
            software engineering.
          </p>
        </div>
        <div class="details-container">
          <img
            src="./assets/experience.png"
            alt="Experience icon"
            class="icon"
          />

          <h3>Experience</h3>

          <p>
            <b>SUMMER INTERNSHIT AT NGSIGN</b>
            <br />
            Developed a SSL Certificate Management web platform that allows
            users to upload, store, renew their different SSL certificates as
            well as link them to their organisation's departments for easier
            management.
          </p>
          <br /><br />
          <p>
            <b>SUMMER INTERNSHIT AT INTERNATIONALE DE BANQUES (UIB)</b>
            <br />
            Developed the "D&PO Visual Management" application focusing on data
            visualization and simplifying data and project management
          </p>
        </div>
        <div class="details-container">
          <img src="./assets/education.png" alt="Education icon" class="icon" />
          <h3>Education</h3>
          <p>
            <b>SOFTWARE ENGINEERING CYCLE </b><br />
            Faculty of Sciences of Tunis Since 2022
          </p>
          <br />
          <p>
            <b>INTEGRATED PREPARATORY CYCLE </b><br />Faculty of Sciences of
            Tunis 2020-2022
          </p>
          <br />
          <p>
            <b>BACCALAUREATE(Mathematics) </b><br />Carthage Byrsa Highschool
            2020
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src="../../../assets/arrow.png"
    alt="Arrow-icon"
    class="icon arrow"
    onclick="location.href='./#experience'"
  />
</section>
