<section id="projects">
  <p class="section__text__p1">Browse My</p>
  <h1 class="title">Most Recent Projects</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div
        *ngFor="let project of projects"
        class="details-container color-container"
      >
        <div class="article-container">
          <img
            [src]="project.coverImageUrl"
            alt="{{ project.projectTitle }}"
            class="project-img"
          />
          <h2 class="experience-subtitle project-title">
            {{ project.projectTitle }}
          </h2>
          <div class="btn-container">
            <button
              class="btn btn-color-2 project-btn"
              (click)="openGitHub(project.githubLink)"
            >
              Check it on GitHub !
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="./assets/arrow.png"
    alt="Arrow-icon"
    class="icon arrow"
    onclick="location.href='./#contact'"
  />
</section>
