<section id="about">
  <p class="section__text__p1">{{ 'GET_TO_KNOW_MORE' | translate }}</p>
  <h1 class="title">{{ 'ABOUT_ME' | translate }}</h1>
  <div class="section-container">
    <div class="about-details-container">
      <div class="about-containers">
        <div class="text-container">
          <p>
            {{ 'INTRO_TEXT' | translate }}
          </p>
        </div>
        <div class="details-container">
          <img
            src="./assets/icons/experience.png"
            alt="Experience icon"
            class="icon"
          />
          <h3>{{ 'EXPERIENCE' | translate }}</h3>
          <p>
            <b>{{ 'SUMMER_INTERNSHIP_AT_NGSIGN' | translate }}</b>
            <br />
            {{ 'NGSIGN_DESCRIPTION' | translate }}
          </p>
          <br /><br />
          <p>
            <b>{{ 'SUMMER_INTERNSHIP_AT_UIB' | translate }}</b>
            <br />
            {{ 'UIB_DESCRIPTION' | translate }}
          </p>
        </div>
        <div class="details-container">
          <img src="./assets/icons/education.png" alt="Education icon" class="icon" />
          <h3>{{ 'EDUCATION' | translate }}</h3>
          <p>
            <b>{{ 'SOFTWARE_ENGINEERING_CYCLE' | translate }}</b><br />
            {{ 'FST_SINCE_2022' | translate }}
          </p>
          <br />
          <p>
            <b>{{ 'INTEGRATED_PREPARATORY_CYCLE' | translate }}</b><br />{{ 'FST_2020_2022' | translate }}
          </p>
          <br />
          <p>
            <b>{{ 'BACCALAUREATE_MATHEMATICS' | translate }}</b><br />{{ 'CARTAGE_BYRSA_HIGHSCHOOL_2020' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src="./assets/icons/arrow.png"
    alt="Arrow-icon"
    class="icon arrow"
    onclick="location.href='./#experience'"
  />
</section>
