/* DESKTOP NAV */

#desktop-nav {
  padding: 0.5rem;
}
nav,
.nav-links {
  display: flex;
  align-items: center;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo img {
  max-width: 100%;
  height: auto;
  width: 20rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.menu-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon span {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hamburger-icon span.fade-out {
  opacity: 0;
  position: absolute;
}

.hamburger-icon span.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s forwards ease-in-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.off-screen-menu {
  background-color: #fff;
  height: 100vh;
  width: 70%;
  max-width: 450px;
  position: fixed;
  top: 5rem;
  right: -450px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: flex-start;
  padding-left: 20px;
  box-shadow: -20px 0 15px -15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.off-screen-menu.active {
  right: 0;
}

.ham-menu {
  height: 2rem;
  width: 2rem;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.right-side-container {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}
.menu-links li {
  padding-top: 1rem;
}

.menu-links li img {
  height: 1.5rem;
}

@media screen and (max-width: 800px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: box-shadow 0.2s ease;
  }

  .shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .logo img {
    width: 10rem;
  }
}

@media screen and (max-width: 1450px) {
  .logo {
    font-size: 1.5rem;
  }

  .nav-links li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 2rem;
  }
}
