<!-- Desktop Navbar -->
<nav id="desktop-nav">
  <div class="logo">
    <img src="./assets/icons/logo-no-background.png" alt="Logo" />
  </div>
  <div>
    <ul class="nav-links">
      <li>
        <a href="#about">{{ "ABOUT" | translate }}</a>
      </li>
      <li>
        <a href="#experience">{{ "SKILLSET" | translate }}</a>
      </li>
      <li>
        <a href="#projects">{{ "PROJECTS" | translate }}</a>
      </li>
      <li>
        <a href="#contact">{{ "CONTACT" | translate }}</a>
      </li>
      <!-- Language Dropdown -->

      <button
        nz-button
        nzType="default"
        nzShape="circle"
        nz-dropdown
        [nzDropdownMenu]="desktopMenu"
      >
        <span class="material-icons-outlined">language</span>
      </button>
      <nz-dropdown-menu #desktopMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="changeLanguage('EN')">
            {{ "ENGLISH" | translate }}
          </li>
          <li nz-menu-item (click)="changeLanguage('FR')">
            {{ "FRENCH" | translate }}
          </li>
        </ul>
      </nz-dropdown-menu>
    </ul>
  </div>
</nav>

<!-- Hamburger Navbar -->
<nav id="hamburger-nav">
  <div class="logo">
    <img src="./assets/icons/logo-no-background.png" alt="Logo" />
  </div>
  <div class="right-side-container">
    <button
      nz-button
      nzType="default"
      nzShape="circle"
      nz-dropdown
      [nzDropdownMenu]="hamburgerMenu"
    >
      <span class="material-icons-outlined">language</span>
    </button>
    <nz-dropdown-menu #hamburgerMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="changeLanguage('EN')">
          {{ "ENGLISH" | translate }}
        </li>
        <li nz-menu-item (click)="changeLanguage('FR')">
          {{ "FRENCH" | translate }}
        </li>
      </ul>
    </nz-dropdown-menu>
    <div class="ham-menu" (click)="toggleHamMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- </nav> -->

  <div class="off-screen-menu">
    <ul class="menu-links">
      <li>
        <img src="./assets/icons/about.png" class="icon" alt="" />
        <a href="#about" (click)="toggleHamMenu()">{{ "ABOUT" | translate }}</a>
      </li>
      <li>
        <img src="./assets/icons/skills.png" alt="" />
        <a href="#experience" (click)="toggleHamMenu()">{{
          "SKILLSET" | translate
        }}</a>
      </li>
      <li>
        <img src="./assets/icons/projects.png" alt="" />
        <a href="#projects" (click)="toggleHamMenu()">{{
          "PROJECTS" | translate
        }}</a>
      </li>
      <li>
        <img src="./assets/icons/contact.png" alt="" />
        <a href="#contact" (click)="toggleHamMenu()">{{
          "CONTACT" | translate
        }}</a>
      </li>
    </ul>
  </div>
</nav>
